<button (click)="showFavoriteList()" >View Favorites</button>
<button (click)="showAll()">View All</button>



<div *ngIf="!favoriteListVisible">
    <ng-container *ngFor="let e of TheList">
        <app-event-detail [event]="e" (update)="updateOne($event)"></app-event-detail>

    </ng-container>
</div>

<br /><br />




<div *ngIf="favoriteListVisible">
    <h2>Favorite List</h2>

    <ng-container *ngFor="let e of TheList">

        <ng-container *ngIf="e.favorite == true">
            <app-event-detail [event]="e"></app-event-detail>
        </ng-container>
        
    </ng-container>
    <br /><br />
    <button (click)="showAll()">View All</button>

</div>  